In [24]:
import pandas as pd
import json

with open('dunkinDonuts.json', 'r') as file:
    results = json.load(file)
    data = results['data']

In [25]:
data[0]
# pull state, postal, and almond

{'hashKey': -918298,
 'geoJson': {'coordinates': [37.649585, -122.40607], 'type': 'Point'},
 'geohash': -9182987302055287277,
 'recordId': '354702',
 'address': '180 S Airport Blvd',
 'address2': ' ',
 'adv_ord': 'Y',
 'almond': 'N',
 'beverageonly': 'N',
 'city': 'South San Francisco',
 'close_reason_cd': ' ',
 'co_brander_cd': ' ',
 'combostore': 'N',
 'country': 'US',
 'county': 'San Mateo',
 'dma_cd': '807',
 'drivein': 'N',
 'dunkincardenabled': 'Y',
 'faxnumber': '--',
 'fri_hours': '24HOURS',
 'k_cup': 'Y',
 'kosher': 'N',
 'lat': '37.649585',
 'lc': '33454002',
 'lng': '-122.40607',
 'loyalty': 'N',
 'mobile': 'N',
 'mon_hours': '24HOURS',
 'name': 'Dunkin Donuts',
 'operation_status_cd': '2',
 'phonenumber': '650-742-9101',
 'postal': '94080',
 'sat_hours': '24HOURS',
 'sitetype': 'EC',
 'state': 'CA',
 'sun_hours': '24HOURS',
 'thu_hours': '24HOURS',
 'tue_hours': '24HOURS',
 'turbooven': 'Y',
 'website': 'https://www.dunkindonuts.com',
 'wed_hours': '24HOURS',
 'wireless': 'N',
 'curbside': 'N',
 'mon_cs_hours': ' ',
 'tue_cs_hours': ' ',
 'wed_cs_hours': ' ',
 'thu_cs_hours': ' ',
 'fri_cs_hours': ' ',
 'sat_cs_hours': ' ',
 'sun_cs_hours': ' ',
 'next_gen_store': ' ',
 'dt_auto_fire': ' ',
 'catering_flag': 'N',
 'mon_catering_hours': ' ',
 'tue_catering_hours': ' ',
 'wed_catering_hours': ' ',
 'thu_catering_hours': ' ',
 'fri_catering_hours': ' ',
 'sat_catering_hours': ' ',
 'sun_catering_hours': ' ',
 'distance': 8.685433157247935,
 'tender_agnostic_enabled': 'Y',
 'mobile_bypass_lane': ' ',
 'pos_cmc_id': '1015019',
 'pos_type': 'Radiant',
 'last_updated_datetime': '1584423000000',
 'dbi_fee_hr_link': ' ',
 'apply_online': 'N'}

In [26]:
# Create dataframe full of relevant information about Dunkin Donuts stores in the US
# The State, City, Zip code, and whether they have almond milk

IDs,states,cities,zips,almond = [],[],[],[],[]

    #go item by item in the list, each item is a dictionary
for i in data:
    states.append(i['state'])
    cities.append(i['city'])
    zips.append(i['postal'])
    
    if i['almond']=='Y':
        almond.append(1)
    else:
        almond.append(0)


ddDF = pd.DataFrame({
    'State':states,
    'Zip Code':zips,
    'Almond':almond
})
totalDunkin = len(data)

print(f'\nThere are {totalDunkin} Dunkin Donuts stores in the US.')
ddDF.head()

There are 9698 Dunkin Donuts stores in the US.

  State Zip Code  Almond
0    CA    94080       0
1    CA    94621       0
2    CA    94544       0
3    CA    94070       0
4    CA    94019       0

In [33]:
grpbyState = ddDF.groupby('State')

DDtotals = pd.DataFrame()

DDtotals['Total Stores'] = grpbyState.count()['Zip Code']
DDtotals['Almond Milk?'] = grpbyState.mean()['Almond']
DDtotals['Almond Milk?'] = pd.Series(["{0:.0f}%".format(val * 100) for val in DDtotals['Almond Milk?']], index = DDtotals.index)

In [34]:
DDtotals.head()

       Total Stores Almond Milk?
State
AK                2           0%
AL               41          54%
AR                8          75%
AZ               96          71%
CA              116          22%