In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import pandas as pd
import json, os, requests
from api_key import api_key

In [2]:
# ---------------
# Starbucks Data
# ---------------

#read Starbucks csv
starbucks_data_path = os.path.join("Source_Files","Starbucks_US_2018_11_12.csv")
starbucks_data = pd.read_csv(starbucks_data_path)

#pull data from Starbucks csv
clean_data = starbucks_data[['city', 'state', 'zip_code']]

SB_states_data = pd.DataFrame(clean_data.groupby('state')['city'].count())
SB_states_data.rename(columns={'city':'Starbucks Stores'}, inplace=True)

In [3]:
# -------------------
# Dunkin Donuts Data
# -------------------


#read the Dunkin json file
with open('dunkinDonuts.json', 'r') as file:
    results = json.load(file)
    data = results['data']
    
# Create dataframe full of relevant information about Dunkin Donuts stores in the US
# First create empty list for State, Zip code, and whether they have almond milk
states,zips,almond = [],[],[]

#Go item by item in the list, each item is a dictionary
for i in data:
    states.append(i['state'])
    zips.append(i['postal'])
    
    if i['almond']=='Y':
        almond.append(1)
    else:
        almond.append(0)

ddDF = pd.DataFrame({
    'State':states,
    'Zip Code':zips,
    'Almond':almond
})

totalDunkin = len(data)

#Group the dataframe of individual stores into a summary by state
grpbyState = ddDF.groupby('State')

#empty dataframe for the final results
DDtotals = pd.DataFrame()

DDtotals['Dunkin Stores'] = grpbyState.count()['Zip Code']
DDtotals['Dunkins with Almond Milk'] = grpbyState.mean()['Almond']
#DDtotals['Dunkins with Almond Milk'] = pd.Series(["{0:.0f}%".format(val * 100) for val in DDtotals['Dunkins with Almond Milk']], index = DDtotals.index)

In [4]:

# ------------
# Income Data
# ------------

# Request data with API key
api_key = api_key
url = "https://api.stlouisfed.org/geofred/shapes/file?"
query_url = f"https://api.stlouisfed.org/geofred/series/data?series_id=WIPCPI&api_key={api_key}&file_type=json&date=2019-01-01"
response = requests.get(query_url)

# Display API call response
data = response.json()
data_2019 = data["meta"]["data"]["2019"]


# Store state names and personal income to list
state, income, state_abv = [], [], []

# Make a for loop to go through the url response to get each state's personal income
for i in data_2019:
    state.append(i["series_id"][0:2])
    income.append(float(i["value"]))

    # Display personal income per capital into dataframe
personal_income_df = pd.DataFrame({"State": state, "Income": income})
personal_income_df.head()


# ----------------
# Population Data
# ----------------

file = "Source_Files/population_by_state_2019.xls"
df = pd.read_excel(file)

population = df[["State", "Population"]]


# -------------------
# Merge Income + Pop
# -------------------

GDPandPOP = pd.merge(population, personal_income_df, how="outer")
GDPandPOP=GDPandPOP.set_index('State')

In [5]:
# ---------------------
# Merge All Dataframes
# ---------------------

# SB_states_data = index of state and one column of total Starbucks Stores in that state
# DDtotals = index of state, columns of total DD stores and % with almond milk
# GDPandPOP = index of state, columns of income and population

stores = pd.merge(SB_states_data,DDtotals, left_index=True, right_index=True)
finalDF = pd.merge(GDPandPOP, stores, left_index=True, right_index=True)

In [6]:
# Create Dataframe for analysis by income

bins = [30000, 40000, 50000, 60000, 70000, 80000, 90000]
group_labels = ["30k-40k","40k-50k","50k-60k","60k-70k","70k-80k","80k-90k"]
finalDF["Income Bracket"] = pd.cut(finalDF['Income'], bins, labels=group_labels)

stores_by_income = finalDF.groupby("Income Bracket").sum()
stores_by_income = stores_by_income[['Starbucks Stores', 'Dunkin Stores']]
stores_by_income['%Almond'] = finalDF.groupby('Income Bracket').mean()['Dunkins with Almond Milk']
#stores_by_income['%Almond'] = pd.Series(["{0:.0f}%".format(val * 100) for val in stores_by_income['%Almond']], index = stores_by_income.index)

stores_by_income

                Starbucks Stores  Dunkin Stores %Almond
Income Bracket
30k-40k                       33              8     38%
40k-50k                     3063           1271     50%
50k-60k                     4873           3654     52%
60k-70k                     3855            666     41%
70k-80k                     1375           4073     83%
80k-90k                       91             26     85%

In [8]:
# Create Dataframe for analysis by population

popBins = [0,5000,10000,15000,20000,25000,30000,35000,40000]
popLabels = ['0-5mil','5-10mil','10-15mil','15-20mil','20-25mil','25-30mil','30-35mil','35-40mil']

finalDF['Pop Bracket'] = pd.cut(finalDF['Population'],popBins,labels=popLabels)
byPopDF = finalDF.groupby('Pop Bracket').sum()[['Starbucks Stores','Dunkin Stores']]
byPopDF['%Almond'] = finalDF.groupby('Pop Bracket').mean()['Dunkins with Almond Milk']
#byPopDF['%Almond'] = pd.Series(["{0:.0f}%".format(val * 100) for val in byPopDF['%Almond']], index = byPopDF.index)

byPopDF

             Starbucks Stores  Dunkin Stores %Almond
Pop Bracket
0-5mil                   1782           1513     55%
5-10mil                  3781           3266     57%
10-15mil                 2191           2125     37%
15-20mil                  679           1501     84%
20-25mil                  741           1002     20%
25-30mil                 1148            175     54%
30-35mil                    0              0    nan%
35-40mil                 2968            116     22%

In [9]:
finalDF

,Population,Income,Starbucks Stores,Dunkin Stores,Dunkins with Almond Milk,Income Bracket,Pop Bracket
AL,4907.965,44102.0,88,41,0.536585,40k-50k,0-5mil
AK,733.603,62629.0,51,2,0.000000,60k-70k,0-5mil
AZ,7291.843,45975.0,513,96,0.708333,40k-50k,5-10mil
AR,3020.985,44582.0,61,8,0.750000,40k-50k,0-5mil
CA,39437.610,66745.0,2968,116,0.224138,60k-70k,35-40mil
CO,5758.486,61159.0,501,45,0.555556,60k-70k,5-10mil
CT,3566.022,77273.0,129,524,0.912214,70k-80k,0-5mil
DE,976.668,54323.0,32,67,0.119403,50k-60k,0-5mil
DC,708.253,83111.0,91,26,0.846154,80k-90k,0-5mil
FL,21492.056,52391.0,741,1002,0.202595,50k-60k,20-25mil
GA,10628.020,48188.0,356,228,0.640351,40k-50k,10-15mil
HI,1415.615,57026.0,109,12,0.000000,50k-60k,0-5mil
IL,12667.017,58786.0,627,695,0.823022,50k-60k,10-15mil
IN,6731.010,48687.0,255,87,0.609195,40k-50k,5-10mil
IA,3159.596,51791.0,101,33,0.606061,50k-60k,0-5mil
KS,2912.635,53439.0,108,29,0.586207,50k-60k,0-5mil
KY,4472.345,43724.0,126,38,0.184211,40k-50k,0-5mil
LA,4658.285,47363.0,94,14,0.357143,40k-50k,0-5mil
ME,1345.770,50575.0,29,161,0.863354,50k-60k,0-5mil
MD,6054.954,64541.0,279,282,0.755319,60k-70k,5-10mil
MA,6894.883,74161.0,282,1156,0.915225,70k-80k,5-10mil
MI,9984.795,49238.0,301,85,0.752941,40k-50k,5-10mil
MN,5640.053,58830.0,204,23,0.086957,50k-60k,5-10mil
MS,2978.227,38887.0,33,8,0.375000,30k-40k,0-5mil
MO,6140.475,48631.0,208,48,0.479167,40k-50k,5-10mil
NE,1932.571,54567.0,64,19,0.684211,50k-60k,0-5mil
NV,3090.771,50985.0,263,26,0.807692,50k-60k,0-5mil
NH,1360.783,63452.0,34,220,0.936364,60k-70k,0-5mil
NJ,8891.258,70399.0,285,892,0.667040,70k-80k,5-10mil
NM,2099.634,43268.0,88,16,0.500000,40k-50k,0-5mil
NY,19463.131,71682.0,679,1501,0.840773,70k-80k,15-20mil
NC,10501.384,47706.0,385,344,0.014535,40k-50k,10-15mil
OH,11696.507,50167.0,424,211,0.165877,50k-60k,10-15mil
OK,3960.676,47297.0,78,11,0.454545,40k-50k,0-5mil
PA,12798.883,58046.0,399,647,0.190108,50k-60k,10-15mil
RI,1058.158,56426.0,28,175,0.942857,50k-60k,0-5mil
SC,5157.702,45359.0,159,119,0.000000,40k-50k,5-10mil
TN,6830.325,48676.0,207,106,0.632075,40k-50k,5-10mil
TX,28986.794,52829.0,1148,175,0.537143,50k-60k,25-30mil
UT,3203.383,48978.0,113,7,1.000000,40k-50k,0-5mil
VT,624.046,55288.0,9,52,0.923077,50k-60k,0-5mil
VA,8556.642,59509.0,434,263,0.570342,50k-60k,5-10mil
WV,1795.263,42242.0,31,23,0.304348,40k-50k,0-5mil
WI,5824.581,53207.0,153,64,0.703125,50k-60k,5-10mil
WY,580.116,62044.0,22,1,0.000000,60k-70k,0-5mil